@import './cores.css';

div.Select__control {
    
    background-color: white;
    border-color: var(--azul);
    box-shadow: none;
}

div.Select__control--is-focused {
    background-color: #E0F4F4; /* Cor de fundo quando em foco */
    border-color: var(--azul) !important; /* Cor da borda quando em foco */
    box-shadow: 0 0 0 1px var(--azul); /* Sombra da borda quando em foco */
}

div.Select__menu {
    background-color: white;
}

div.Select__option {
    background-color: white;
    color: black;
    border: 1px solid transparent; 
}

div.Select__option--is-selected {
    background-color: var(--azul-escuro); /* Cor de fundo para a opção selecionada */
    color: white;
}
div.Select__option--is-selected:hover {
    background-color: var(--azul) !important; /* Cor de fundo para a opção selecionada */
    color: white;
}

div.Select__option:hover {
    background-color: #E0F4F4; /* Cor de fundo ao passar o mouse */
    border-color: var(--azul);;
}

div.Select__placeholder {
    color: gray;
}

div.Select__multi-value {
    background-color: var(--azul-escuro); /* Cor de fundo das opções selecionadas */
    color: white; /* Cor do texto das opções selecionadas */
    border-radius: 16px; /* Arredondamento das bordas */
    padding: 2px 8px; /* Ajuste o espaçamento interno conforme necessário */
    display: flex; /* Alinha o conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
}

div.Select__multi-value__label {
    color: white; /* Cor do texto dentro das opções selecionadas */
}

div.Select__multi-value__remove {
    color: white; /* Cor do ícone de remover (x) */
    cursor: pointer; /* Alterar o cursor para indicar interatividade */
    background-color: var(--azul-escuro); /* Cor de fundo do ícone de remover */
    border-radius: 20%; /* Faz com que o ícone de remover seja circular */
    padding: 2px 6px; /* Ajuste o espaçamento interno conforme necessário */
    margin-left: 4px; /* Espaçamento entre o texto e o ícone de remover */
}

div.Select__multi-value__remove:hover {
    background-color: var(--azul); /* Cor de fundo do ícone de remover ao passar o mouse */
    color: white; /* Cor do ícone de remover ao passar o mouse */
}