th {
    position: relative;
}

.resizable {
    position: relative;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    cursor: ew-resize;
    background-color: rgba(0, 0, 0, 0.2);
}
.resizer::after {
    content: "";
    position: absolute;
    right: -10px; /* Expande a área de clique para a direita */
    top: 0;
    width: 10px; /* Largura da área de clique */
    height: 100%;
    cursor: ew-resize;
    background: transparent; /* Mantém a área de clique invisível */
    z-index: 1; /* Garante que a área de clique esteja acima de outros elementos */
}

.no-resize .resizer {
    display: none;
}