@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

@import './styles/cores.css';
@import './styles/main.css';
@import './styles/footer.css';
@import './styles/infoClick.css';
@import './styles/infoHover.css';
@import './styles/lista.css';
@import './styles/scroll.css';

body {
    user-select: none;
}

.custon-disabled-andamento {
    cursor: progress;
    opacity: 0.4;
}

.custon-disabled-erro {
    opacity: 0.4;
}