.containerHover {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    position: relative; /* Necessário para o posicionamento absoluto do tooltip */
}

#info-hover {
    position: relative;
    padding: 8px;
}

/* Tooltip padrão */
#info-hover .info-texto {
    visibility: hidden;
    width: auto;
    background-color: rgba(51, 51, 51, 0.8); /* Cor preta com 80% de opacidade */
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 10px;
}

/* Balão para cima */
#info-hover.up .info-texto {
    bottom: 100%; /* Ajustado para dar espaço à seta */
    left: 50%;
    transform: translateX(-50%);
}

#info-hover.up .info-texto::after {
    content: '';
    position: absolute;
    top: 100%; /* Posiciona a seta logo abaixo do balão */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 0.8) transparent transparent transparent; /* Triângulo com 80% de opacidade */
}

/* Balão para baixo */
#info-hover.down .info-texto {
    top: 100%; /* Ajustado para dar espaço à seta */
    left: 50%;
    transform: translateX(-50%);
}

#info-hover.down .info-texto::after {
    content: '';
    position: absolute;
    bottom: 100%; /* Posiciona a seta logo acima do balão */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(51, 51, 51, 0.8) transparent; /* Triângulo com 80% de opacidade */
}

/* Balão para a esquerda */
#info-hover.left .info-texto {
    right: 100%; /* Ajustado para dar espaço à seta */
    top: 50%;
    transform: translateY(-50%);
}

#info-hover.left .info-texto::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%; /* Posiciona a seta à direita do balão */
    transform: translateY(-50%) rotate(180deg);
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(51, 51, 51, 0.8) transparent transparent; /* Triângulo com 80% de opacidade */
}

/* Balão para a direita */
#info-hover.right .info-texto {
    left: 100%; /* Ajustado para dar espaço à seta */
    top: 50%;
    transform: translateY(-50%);
}

#info-hover.right .info-texto::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%; /* Posiciona a seta à esquerda do balão */
    transform: translateY(-50%) rotate(180deg);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(51, 51, 51, 0.8); /* Triângulo com 80% de opacidade */
}

/* Mostrar balão ao clicar */
#info-hover:hover .info-texto {
    visibility: visible;
    opacity: 1;
}

:root {
    --custom-blue-dark: #0E8F98;
    --custom-blue: #07C6D4;
}

.icon-info-hover {
    width: 1.25rem;
    height: 1.25rem;
    color: #07C6D4;
}

.icon-info-hover:hover {
    color: var(--custom-blue-dark);
}


